<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="student" class="com.durgasoft.beans.Student" scope="prototype">
        <property name="name" value="Md Motahharul Haque"/>
        <property name="rollno" value="1719210906"/>
        <property name="email" value="mdmotahharul.haque@gmail.com"/>
        <property name="mobno" value="7836809334"/>
        </bean>
</beans>